.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#cart-items {
	margin-bottom: 70px;
}

.product-card {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: calc(20% - 20px);
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card .description {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.product-card:hover .description {
    display: block;
    width: 80%;
}

@media (max-width: 1024px) {
    .product-card {
        width: calc(33% - 20px);
    }
}

@media (max-width: 768px) {
    .product-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .product-card {
        width: calc(100% - 20px);
    }
}

.category-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.category-button {
    display: inline-block;
    background-color: #87CEEB;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.category-button-active {
    background-color: #45a049;
}

.category-button:hover {
    background-color: #45a049;
}

.category-button {
    min-width: 150px;
    text-align: center;
}

#cart-summary {
    display: flex;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    width: 100%;
    position: fixed;
    justify-content: center;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    height: 4em;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#cart-summary span {
    margin-right: 15px;
    margin-top: 10px;
}

#clear-cart {
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 14px;
    font-size: 14px;
    white-space: nowrap;
    min-width: 130px;
}

@media (max-width: 768px) {
    #cart-summary {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 15px;
    }
    
    #cart-summary span {
        margin: 5px 0;
    }

    #clear-cart {
        margin-top: 10px;
        width: 100px;
    }
}

@media (max-width: 480px) {
    #cart-summary {
        bottom: 20px;
        padding: 10px;
        width: 95%;
    }
}
